<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="D:\home\site\python\python.exe"
                  arguments="D:\home\site\wwwroot\runserver.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\Application\python.log">
      <environmentVariables />
    </httpPlatform>
  </system.webServer>
</configuration>