body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body { font-size: 26px; }
p { font-size: 26px; }
h1 { font-size: 60px; }
h2 { font-size: 50px; }

td, th { font-size: 24px !important; line-height: 26px !important; }

.lead { font-size: 32px; }
.navbar-brand { font-size: 32px; }
.navbar { min-height: 60px; }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}