{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>How Long</h1>
    <p class="lead">A not-very-realistic internal web site for viewing and analyzing retention rates at {{ company }}.</p>
    <!--<p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Generate Data</h2>
        <p>
            If you are too lazy to enter hundreds of interesting values manually, you can
            automatically generate random data.
        </p>
        <p><a class="btn btn-default" href="/generate">Generate Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
